# Sesión 3 - Lectura y escritura en archivos

Python nos permite leer y escribir a archivos de diferentes tipos.

Veamos cómo leer y escribir a archivos .txt

Python nos presenta con la función open(), esta tiene diferentes métodos


'r' - read, abre el archivo, devuelve un error si no existe
'a' - append, abre el archivo para escribir al final del archivo (no sobreescribe)
'w' - write, escribe sobre el archivo, crea un archivo nuevo si no existe
'x' - create, crea un archivo nuevo, retorna un error si el archivo ya existe

In [5]:
data = open('planetary_data.txt')

In [2]:
data

In [6]:
data.read()

"Mercury,\tVenus,\tEarth,\tMars,\tJupiter\t\nMean distance from Sun (millions of kilometers),\t57.9,\t108.2,\t149.6,\t227.9,\t778.3\n\t\t\t\t\t\nMean distance from Sun\t36\t67.24\t92.9\t141.71\t483.88\t\t\t\t\t\t\nPeriod of revolution\t88 days\t224.7 days\t365.2 days\t687 days\t11.86 yrs\nInclination of axis\tNear 0Â°\t3Â°\t23Â°27'\t25Â° 12'\t3Â° 5'\nInclination of orbit\t7Â°\t3.4Â°\t0Â°\t1.9Â°\t1.3Â°\t\t\t\t\t\nEccentricity of orbit\t0.206\t0.007\t0.017\t0.093\t0.048\nEquatorial diameter\t4.880,\t12.100,\t12.756,\t6.794,\t142.800\t\t\t\t\t\nAtmosphere (main components),\tVirtually none,\tCarbon dioxideNitrogenOxygen\tCarbon dioxide,\tHydrogen, helium\t\t\t\t\t"

In [7]:
# leer los primeros 10 caracteres
data = open('planetary_data.txt')
data.read(10)

'Mercury,\tV'

In [12]:
# Leer lineas
data = open('planetary_data.txt')
data.readline()

'Mercury,\tVenus,\tEarth,\tMars,\tJupiter\t\n'

In [13]:
# leer linea por linea

data = open('planetary_data.txt')
for x in data:
    print(x)

Mercury,	Venus,	Earth,	Mars,	Jupiter

Mean distance from Sun (millions of kilometers),	57.9,	108.2,	149.6,	227.9,	778.3



Mean distance from Sun	36	67.24	92.9	141.71	483.88

Period of revolution	88 days	224.7 days	365.2 days	687 days	11.86 yrs

Inclination of axis	Near 0Â°	3Â°	23Â°27'	25Â° 12'	3Â° 5'

Inclination of orbit	7Â°	3.4Â°	0Â°	1.9Â°	1.3Â°

Eccentricity of orbit	0.206	0.007	0.017	0.093	0.048

Equatorial diameter	4.880,	12.100,	12.756,	6.794,	142.800

Atmosphere (main components),	Virtually none,	Carbon dioxideNitrogenOxygen	Carbon dioxide,	Hydrogen, helium

In [14]:
data.close()

In [15]:
# Veamos otro archivo de texto 

planets = open('planetary_data_2.txt')
planets.read()

'Body, Radius (km), Mass (10e21 kg), Density (g/cm3), Gravity (m/s2)\nMercury, 2439.4, 60.83, 330.11, 5.4291, 3.70\nVenus,\t6052, 928.43, 4867.5, 5.243, 8.87\nEarth,\t6371.0084, 1083.21, 5972.4, 5.5136, 9.8\t\nMars, 3389.5, 163.18, 641.71, 3.9341, 3.71\nJupiter, 69911, 1431280, 1898187, 1.3262, 24.79'

In [30]:
bodies = []
radii = []

planets = open('planetary_data_2.txt')

for line in planets:
    splitLine = line.split(',')
    print(splitLine)
    print(line.strip())
    bodies.append(splitLine[0])
    radii.append(splitLine[1])
#bodies

['Body', ' Radius (km)', ' Mass (10e21 kg)', ' Density (g/cm3)', ' Gravity (m/s2)\n']
Body, Radius (km), Mass (10e21 kg), Density (g/cm3), Gravity (m/s2)
['Mercury', ' 2439.4', ' 60.83', ' 330.11', ' 5.4291', ' 3.70\n']
Mercury, 2439.4, 60.83, 330.11, 5.4291, 3.70
['Venus', '\t6052', ' 928.43', ' 4867.5', ' 5.243', ' 8.87\n']
Venus,	6052, 928.43, 4867.5, 5.243, 8.87
['Earth', '\t6371.0084', ' 1083.21', ' 5972.4', ' 5.5136', ' 9.8\t\n']
Earth,	6371.0084, 1083.21, 5972.4, 5.5136, 9.8
['Mars', ' 3389.5', ' 163.18', ' 641.71', ' 3.9341', ' 3.71\n']
Mars, 3389.5, 163.18, 641.71, 3.9341, 3.71
['Jupiter', ' 69911', ' 1431280', ' 1898187', ' 1.3262', ' 24.79']
Jupiter, 69911, 1431280, 1898187, 1.3262, 24.79

## Ejercicio - 7 minutos

Sume todas las masas de los planetas que se encuentran en el archivo planetary_data_2.txt

## Ejercicio - 7 minutos

Cree un programa que lea los datos de los planetas desde el archivo de texto planetary_data_2.txt y cree una variable de tipo lista para cada planeta.

Escriba un script que reciba un número entero del usuario, utilizando input() y regrese los datos de uno de los planetas en la lista.

## Escribir a un archivo existente

Utilizando la opción 'a' y 'w' para append y escribir

In [25]:
datos = open('append.txt', 'a')
datos.write('Este contenido esta unido a lo que ya existe')
datos.close()

In [26]:
datos = open('append.txt', 'r')
datos.read()

'Este contenido esta unido a lo que ya existeEste contenido esta unido a lo que ya existe'

In [28]:
datos = open('append.txt', 'w')
datos.write('Sobreescribir contenidos')

24

In [30]:
datos = open('append.txt', 'r')
datos.read()

'Sobreescribir contenidos'

In [31]:
datos.close()

## Ejercicio 1 - 10 minutos

Escriba un código que imprima los números del 1 al 100, línea por línea, a un archivo de texto.